<!DOCTYPE HTML>
<html>
	<head>
		<title>Vesica - Knowledge and Tradition</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.png" alt="" /></span><span class="title">Vesica</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">About</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
									<h1>Knowledge and Tradition.</h1>
									<p>This is what we value. We use the medium of technology - but that's all it is - a medium.
								     	When you work with us, you'll notice that in all our brands these values are the core building blocks.</p>
							</header>

							<h2>Our Brands</h2>
							<ul class="alt brands">
								<li class="brand-vesica">
									<a href="" class="logo title">Vesica <span class="color-pink">Technology Consulting</span></a>
									<br />
									We do this....
								</li>

								<li class="brand-fw">
									<a href="" class="logo title green">Futuwwa <span class="color-green">Publishing</span></a>
									<br />
									We do this....
								</li>
								<li class="brand-vesica">
									<a href="" class="logo title">Vesica <span class="color-pink">Heritage and Library Collections</span></a>
									<br />
									We do this....
								</li>
								<li class="brand-in">
										<a href="" class="logo title tq">Islamic <span class="color-tq">Network</span></a>
										<br />
										We do this....
									</li>
							</ul>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Where to find us</h2>
								<p>	
								Vesica<br />
								137-139 Brent Street<br />
								London, NW4 4DJ<br />
								United Kingdom<br />
								+44 (0)20 7193 7855<br />
								contact@vesica.co.uk
								</p>
							</section>
							<ul class="copyright">
								<li>&copy; Vesica. All rights reserved.</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>