ul.brands li.brand-vesica {
    background: url(../../images/logo.png) no-repeat left top; /* <-- change `left` & `top` too for extra control */
    padding: 3px 0px 3px 100px;
    margin: 10px 0 0 0;
    height: 150px;
}

ul.brands li.brand-in {
    background: url(../../images/in-logo.jpg) no-repeat left top; /* <-- change `left` & `top` too for extra control */
    padding: 3px 0px 3px 100px;
    margin: 0;
    height: 150px;
}

ul.brands li.brand-fw {
    background: url(../../images/fw-logo.png) no-repeat left top; /* <-- change `left` & `top` too for extra control */
    padding: 3px 0px 3px 100px;
    margin: 0;
    height: 150px;
}

ul.brands li a.title {
    display: block;
    border-bottom: 0;
    color: inherit;
    font-weight: 900;
    letter-spacing: 0.35em;
    margin: 0 0 2.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.color-pink {
    color: #f2849e;
}

.color-blue {
    color: #7ecaf6;
}

a.blue:hover {
    border-bottom-color: transparent;
    color: #7ecaf6 !important;
}

.color-tq {
    color: #86C3B2;
}

a.tq:hover {
    border-bottom-color: transparent;
    color: #86C3B2 !important;
}

.color-green {
    color: rgb(4, 105, 49) !important;
}

a.green:hover {
    border-bottom-color: transparent;
    color: rgb(4, 105, 49) !important;
}